![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

# Análisis de contratación de músicos en Fander: Explorando patrones y preferencias

### TEMA

##### El análisis exploratorio de datos se centra en una plataforma web de catálogo de músicos. Se abordarán diversas preguntas relacionadas con las solicitudes a músicos, perfiles de músicos, restaurantes con música en vivo y datos adicionales obtenidos de Google.

### HIPÓTESIS

El objetivo es identificar patrones, preferencias y tendencias en la contratación de músicos, así como obtener información relevante para optimizar la experiencia de los usuarios y la oferta de servicios en la plataforma.

Para ello, primero haremos un análisis respondiendo a una serie de preguntas.

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una breve descripción del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

La fuente está extraída de las bases de datos de la empresa Fander.

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [3]:
import pandas as pd

#### Musicos registrados en la web

In [5]:
musicos = pd.read_csv(r'E:\OneDrive\Data Science Bootcamp 2023\jaume_eda\01 - musicos\musicos.csv',encoding='latin-1')
musicos.head()

,id,Date,Title,musico_nombre_artistico,musico_provincia,musico_tipo,musico_formatos_disponibles,musico_precio_minimo_dj,musico_coste_hora_extra_dj,musico_precio_minimo_solista,...,musico_genero_musical,musico_url_youtube_1,musico_url_youtube_2,musico_url_youtube_3,musico_titulo_youtube_4,musico_titulo_youtube_5,musico_repertorio_completo,estados músico,Nº CONTRATACIONES,Author ID
0,4679,2022-02-15,Alex,Alex,Cádiz,Músico,"a:2:{i:0;s:7:""Solista"";i:1;s:27:""Banda/Conjunt...",NaN,NaN,150.0,...,"a:1:{i:0;s:9:""Acústico"";}",NaN,NaN,NaN,NaN,NaN,NaN,Incompleto,0.0,2
1,4706,2022-02-15,DJ_movil,DJ_movil,Madrid,DJ,NaN,100.0,50.0,NaN,...,"a:1:{i:0;s:11:""Alternativa"";}",https://youtu.be/CxdGdqbakQY,NaN,NaN,NaN,NaN,Cancion - Autor,Completo,0.0,36
2,4914,2022-02-16,Paloma García del Busto,Paloma García del Busto,Madrid,Músico,"a:5:{i:0;s:7:""Solista"";i:1;s:4:""Dúo"";i:2;s:5:""...",NaN,NaN,150.0,...,"a:4:{i:0;s:8:""Clásica"";i:1;s:12:""Instrumental""...",https://www.youtube.com/watch?v=n2-L-QAU724,https://youtu.be/lbb5O-O_7dE,NaN,NaN,NaN,NaN,Completo,0.0,38
3,5005,2022-02-16,Platos &amp; Piñones,Platos & Piñones,Madrid,Músico,"a:1:{i:0;s:18:""Banda con batería"";}",NaN,NaN,NaN,...,"a:4:{i:0;s:9:""Acústico"";i:1;s:3:""Pop"";i:2;s:4:...",NaN,NaN,NaN,NaN,NaN,NaN,Completo,0.0,49
4,5020,2022-02-17,Pablo Pedraza,Pablo Pedraza,Madrid,Músico,"a:1:{i:0;s:4:""Dúo"";}",NaN,NaN,NaN,...,"a:3:{i:0;s:3:""Pop"";i:1;s:9:""Reggeaton"";i:2;s:4...",https://www.youtube.com/watch?v=bBdHP9JxcHU,https://www.youtube.com/watch?v=9i-CFySLgTo,https://www.youtube.com/watch?v=kaUmUwPXBOo,NaN,NaN,1. LADY MADRID  PEREZA\n2. EL MUNDO  PABLO L...,Completo,3.0,50

#### Registro de contrataciones hechas a músicos

In [7]:
contrat = pd.read_csv(r'E:\OneDrive\Data Science Bootcamp 2023\jaume_eda\02 - contrataciones\contrataciones finales.csv',encoding='latin-1')
contrat.head()

,ID,Músico,GMV (SIN IVA de MÚSICOS),Comisión + IVA (INGRESOS CON IVA),Comisión sin IVA (Ingresos sin IVA o NETOS),Fecha bolo,De donde viene,Estado,Año-mes contratación,Tipo,Categoría,Nº Contrataciones,Cliente Nuevo/Repetidor,"NUEVO = 1, REPE = 0"
0,1,Betto Jones,123.97,22.5,18.60,8/10/2022,NaN,NaN,2021-10,Fiesta,Fiesta,1,NUEVO,1
1,2,Luis Retana,272.73,49.5,40.91,16/10/2022,NaN,NaN,2021-10,Fiesta,Fiesta,1,NUEVO,1
2,3,Yai Machine,190.08,34.5,28.51,16/10/2022,NaN,NaN,2021-10,Fiesta,Fiesta,1,NUEVO,1
3,4,Eleka Shows,247.93,45.0,37.19,22/10/2022,NaN,NaN,2021-10,Fiesta,Fiesta,1,NUEVO,1
4,5,Zao Night Band,785.12,0.0,0.00,24/09/2022,NaN,NaN,2021-11,Fiesta,Fiesta,1,NUEVO,1

#### Solicitudes para contratar músicos

In [10]:
sol_musicos = pd.read_csv(r'E:\OneDrive\Data Science Bootcamp 2023\jaume_eda\03 - solicitudes_musicos\solicitudes_musicos.csv',encoding='latin-1')
sol_musicos.head()

,id,Date,Title,calculadora_musico_nombre_artistico,calculadora_musico_provincia,calculadora_musico_tipo,calculadora_provincia_evento,calculadora_numero_invitados,calculadora_espacio_evento,calculadora_horas_actuacion,calculadora_formato_musico,estimacionPrecioTotal,fech_evento,calculadora_id_musico,solicitud_calculada_paso,estado_solicitud
0,31796,2023-03-10,NaN,Eva Páez,NaN,Músico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10989.0,1.0,NaN
1,31798,2023-03-10,NaN,Spin Off,NaN,Músico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8279.0,1.0,NaN
2,31799,2023-03-10,NaN,Kilometro cero,NaN,Músico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9421.0,1.0,NaN
3,31800,2023-03-10,NaN,Crazy Cabin,Madrid,Músico,Madrid,250.0,dentro,1.0,Solista,528,NaN,16158.0,2.0,NaN
4,31801,2023-03-10,Mensaje de a Serotonina,Serotonina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Registro de restaurantes en Madrid.

In [13]:
resto = pd.read_csv(r'E:\OneDrive\Data Science Bootcamp 2023\jaume_eda\04 - restaurantes\restaurantes.csv',encoding='latin-1')
resto.head()

,ID,Nombre Restaurante,Dirección,Distrito Postal,Localidad,Provincia
0,1,ABYA - Palacio de Saldaña,"C. de José Ortega y Gasset, 32, 28006 Madrid",28006.0,Madrid,Madrid
1,2,Aguirre Pozuelo,"C. Segundo Mata, 1, 28224 Pozuelo de Alarcón, ...",28224.0,Pozuelo de Alarcón,Madrid
2,3,Alejandro Aranzábal,NaN,NaN,NaN,Madrid
3,4,Almadraba Rivas Restaurante,Rivas Vaciamadrid Avenida la técnica 43,28522.0,Rivas - Vaciamadrid,Madrid
4,5,Amor al Plato,"Calle Capitán Blanco Argibay, 88, Madrid",28029.0,Madrid,Madrid

#### Tráfico en la web según ciudad

In [14]:
trafico = pd.read_csv(r'E:\OneDrive\Data Science Bootcamp 2023\jaume_eda\05 - trafico\trafico.csv',encoding='latin-1')
trafico.head()

,Ciudad,Usuarios,Usuarios nuevos,Sesiones con interacción,Porcentaje de interacciones,Sesiones con interacción por usuario,Tiempo de interacción medio,Número de eventos,Conversiones,Total de ingresos
0,(not set),13126,76598,12927,8.934891e+15,9.848393e+14,9.645551e+15,267488,5430,0
1,Madrid,3267,2938,3402,6.195593e+14,1.041322e+16,1.704148e+16,62192,5945,0
2,Barcelona,1637,1413,1427,6.041490e+15,8.717166e+15,1.333170e+14,25066,2905,0
3,Seville,695,616,503,5.576497e+15,7.237410e+15,1.098417e+16,8925,1169,0
4,Valencia,693,605,835,6.508184e+15,1.204906e+15,2.013391e+16,17160,1866,0